<div {
    line-height: 1.7em;
    background-image: -moz-repeating-linear-gradient(top left -45deg, pink, pink 5px, white 5px, white 10px);
    border-style: dotted;
    font-style: italic;
    font-display: lavender;
    font-family: monospace;
}